
.swiper-scrollbar {
    margin-left: 10px;
    background-color: white;
    border-radius: 3px;
  }
  
  .swiper-scrollbar-drag {
   
    background-color: rgb(31, 21, 151);
  }
  
  .swiper { 
    margin-left: 150px;
    margin-top: 50px;
    width: 540px;
    height: 340px;
    border-radius: 20px;
  }
  
  .swiper-slide img {
    margin-left: 9px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-button-prev{
    margin-left: 10px;
  }
  