body{
    margin: 0px;
}

/* .rfm-marquee {
    gap: 50px;
    align-items: center;
} */

/* .rotate {
    transform: rotate(360deg);
    transition: transform 2s; 
  } */
  

 
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(359deg);
      }
    }
     
  .rotatation {
    animation: rotation 15s infinite linear;
  }
  

.css-9fgtzh {
    padding-inline-start: 0% !important;
    padding-inline-end: 0% !important;
   }

   .marquee{
    max-width: 1200px;
    padding: 0px 140px;
    margin: 0 auto;
    margin-top: 60px;
   }

   .hamburger-react{
    left: 6px;
   }

   .css-k0waxj {
    margin-top: -25px;
   }

   @media screen and (max-width: 768px) {
    
    .marquee{
        max-width: 300px;
    }
   }